@{
    ViewData["Title"] = "Login Page";
} 

<section class="vh-100" style="background-color: #9A616D; width: 1400px; height: auto;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem; width: 800px; height: 480px;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="~/Images/Login.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 480px;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="VerifyLogin" method="post">

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                  <div class="form-outline mb-4">
                    <input type="text"  name="Username" placeholder="Username" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">USERNAME</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text"  name="Password" placeholder="Password" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">PASSWORD</label>
                  </div>

                  <div>
                    <button class="btn btn-dark btn-lg btn-block" type="submit">LOGIN</button>
                  </div>

                  <a class="small text-muted" href="#!">FORGOT PASSWORD?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">DON'T HAVE AN ACCOUNT? <a href="#!" style="color: #393f81;">REGISTER HERE</a></p>
                  <a href="#!"  style="color: #ffffff;">Terms of use.</a>
                  <a href="#!" style="color: #ffffff;">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
