@{
    ViewData["Title"] = "Register";
}
<h1>@ViewData["Title"]</h1>

<style>
.gradient-custom {
background: #0047ab;


/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;

}
.card-registration .select-arrow {
top: 10px;
height: 700px;
}
</style>

<section>
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-6 col-xl-5"> <!-- Adjusted column sizes -->
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Register Form</h3>
            <form>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="firstName">First Name</label>

                    <input type="text" name="firstname" id="firstName" class="form-control form-control-lg" />
                    
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                  <label class="form-label" for="lastName">Last Name</label>
                    <input type="text" name="lastname" id="lastName" class="form-control form-control-lg" />
                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" name="username" class="form-control form-control-lg" id="username" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                  <label class="form-label" for="confirmpassword">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control form-control-lg" />
                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                  <label class="form-label" for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control form-control-lg" />
                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <div class="form-outline">
                  <label class="form-label" for="phoneNumber">Phone Number</label>
                    <input type="tel" name="phonenumber" id="phoneNumber" class="form-control form-control-lg" />
                    
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                 <label class="form-label select-label">Account type</label>
                  <select class="form-select form-select-lg">
                    <option value="1" disabled>Premium</option>
                    <option value="2">Free</option>
                  </select>
                 
                </div>
              </div>

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
